html {
	background: url(bg.jpg) top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: white;
}

header {
	width: 100%;
	overflow: hidden;
}

header h1 {
	text-align: center;
	font-size: 4rem;
	color: #f5d300;
	text-shadow: 2px 2px 4px #000;
	animation: slide-left 7s;
}

@keyframes slide-left {
	from {
		margin-left: 100%;
		width: 50%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}

@-webkit-keyframes slide-left {
	from {
		margin-left: 100%;
		width: 50%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}

.keys {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	min-height: 80vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	/* font-size: 1.5rem; */
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	text-shadow: 0 0 0.5rem black;
}

/* .key:hover, */
.playing {
	transform: scale(1.2);
	border-color: #fe53bb;
	box-shadow: 0 0 1rem #fe53bb;
}

kbd {
	display: block;
	font-size: 3em;
	font-family: monospace;
}

.sound {
	/* font-size: 1.2rem; */
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #08f7fe;
}

footer p {
	text-align: center;
	margin: auto;
	/* font-size: 1.2rem; */
}
